*.pyc
*.iml
*.idea

# Python General
# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Distribution / packaging
*.egg-info/
.eggs/
dist/
build/
wheels/
*.tar.gz
*.whl

# Pytest
.pytest_cache/
.coverage
htmlcov/

# VSCode
.vscode/

# PyCharm
.idea/

# mypy
.mypy_cache/
!.env.example
!.env.test